body{
    background-color: white;
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

h1{
    font-size: 50px;
    color: #234CAD;
}

h2{
    color: #234CAD;
}

h3{
    font-size: 22px;
    color: #234CAD;
}

h4{
    font-size: 10px;
    color: #234CAD;
}

h5{
    color: #234CAD;

}

p{
    font-size: 16px;
    color: #234CAD;
}


/* About & Pricing */

.card1 {
    background-color: #F2F6FF;
    border-radius: 60px;
}

.card1:hover {
    background-color: #FFF;
    border: 3px solid #234CAD !important
}

.card1:hover .list-group-item {
    background: #F2F6FF !important
}

.card2 {
    background-color: #F2F6FF;
    border-radius: 60px;
}

.card2:hover {
    background: #FFF;
    border: 3px solid #234CAD !important
}

.card2:hover .list-group-item {
    background: #F2F6FF !important
}


.card3 {
    background-color: #F2F6FF;
    border-radius: 60px;
}

.card3:hover {
    background: #FFF;
    border: 3px solid #234CAD !important
}

.card3:hover .list-group-item {
    background: #F2F6FF !important
}

.btn-outline-primary {
    border-radius: 37.5px;
    background: #F2F6FF;
    border: 0px;
    color: #234CAD;
    font-size: 25px;
    font-weight: 700;
    width: 180px;
    height: 55px;
    justify-content: center;
    border: 3px solid #234CAD !important
}

.btn-outline-primary:hover {
    background: #FFF;
    color: #234CAD;
    border: 3px solid #234CAD !important
}

.btn-outline-primary:active {
    background-color: #234CAD !important;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.card:hover .btn-outline-primary {
    border-radius: 37.5px;
    background: #FFF;
    width: 274px;
    height: 75px;
    justify-content: center;
}
