body {
  font-family: "Nunito", sans-serif;
  padding: 50px 100px;
  color: #234cad;
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
}

.contact {
  background-color: #f2f6ff;
  padding: 75px;
  border-radius: 50px;
}

.contact h2 {
  font-size: 48px;
  font-weight: 700;
}

.contact p {
  margin: 25px auto 35px;
  max-width: 348px;
  font-size: 16px;
  font-weight: 400;
}

.contact .inputan {
  max-width: 500px;
  max-height: 65px;
  padding: 10px 10px 10px 25px;
  margin: auto;
  border-radius: 15px;

  font-size: 18px;
}
.contact input {
  padding: 0;
  width: 100%;
}
.icon {
  width: 45px;
  height: 45px;
  padding: 10px;
  background-color: #234cad;
  border-radius: 15px;
}

::placeholder {
  color: #234cad; /* Ganti #your-color dengan kode warna yang diinginkan */
}

footer {
  padding-top: 75px;
}
footer a {
  color: #234cad;
  text-decoration: none;
}

footer h5 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

footer .container {
  max-width: 941px;
}
/* footer .brand {
  margin-right: 80px;
} */
@media screen and (max-width: 800px) {
  body {
    padding: 20px 20px;
  }
  .contact {
    padding: 30px;
  }
  footer .brand {
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 550px) {
  body {
    padding: 10px 10px;
  }
  h2 {
    font-size: 32px !important;
  }
  h5 {
    font-size: 18px !important;
  }
  footer a {
    font-size: 12px;
  }
  footer .brand {
    margin-right: 0 !important;
  }
}
