body{
    background-color: white;
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

h1{
    font-size: 50px;
    color: #234CAD;
}

h2{
    color: #234CAD;
}

h3{
    font-size: 22px;
    color: #234CAD;
}

h4{
    font-size: 10px;
    color: #234CAD;
}

h5{
    color: #234CAD;

}

p{
    font-size: 16px;
    color: #234CAD;
}

/* Header & Banner */

#Banner{
    margin-bottom: 70px;
    margin-left: 60px;
    margin-right: 60px;
}

#Header{
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

li{
    margin-right: 30px;
}

#login {
    margin-right: 15px;
    width: 110px;
    height: 45px;
    padding: 10px 15px;
    border-radius: 25px;
    background-color: white;
    font-size: 16px;
}
  
#sign{

    width: 110px;
    height: 45px;
    padding: 10px 15px;
    border-radius: 25px;
    background-color: white;
    font-size: 16px;
}
    
.togle{
    width: 45px;
    height: 45px;
    border-radius: 30px;
    background-color: #F2F6FF;
}

.jumbotron{
    margin-top: 30px;
    border-radius: 30px;
    width: 100%;
    height: 520px;
    background-color: #F2F6FF;
}

#kolom1{
    padding-left: 70px;
    padding-top: 90px;
    padding-bottom: 45px;
}

.btn-outline-primary {
    border-radius: 37.5px;
    background: #F2F6FF;
    border: 0px;
    color: #234CAD;
    font-size: 25px;
    font-weight: 700;
    width: 180px;
    height: 55px;
    justify-content: center;
    border: 3px solid #234CAD !important
}

.btn-outline-primary:hover {
    background: #FFF;
    color: #234CAD;
    border: 3px solid #234CAD !important
}

.btn-outline-primary:active {
    background-color: #234CAD !important;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.kotak1{
    padding-top: 12px;
    padding-left: 20px;
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 35px;
    border-radius: 20px;
    background-color: white; 
}

.tekskotak1
{
    margin-top: 9px;
}

.kotak2{
    padding-top: 20px;
    padding-left: 22px;
    width: 350px;
    height: 90px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 35px;
    border-radius: 20px;
    background-color: white;
}

.kotak3{
    padding-top: 25px;
    padding-left: 25px;
    width: 110px;
    height: 130px;
    margin-top: -155px;
    margin-bottom: 25px;
    margin-left: 435px;
    border-radius: 20px;
    background-color: white;
}

.kotak4{
    padding-top: 20px;
    padding-left: 22px;
    width: 250px;
    height: 140px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 35px;
    border-radius: 20px;
    background-color: white;
}

.kotak5{
    padding-top: 20px;
    padding-left: 22px;
    width: 350px;
    height: 90px;
    margin-top: -165px;
    margin-bottom: 25px;
    margin-left: 315px;
    border-radius: 20px;
    background-color: white;
}

.kotak6{
    padding-top: 20px;
    padding-left: 22px;
    width: 350px;
    height: 90px;
    margin-top: 75px;
    margin-bottom: 25px;
    margin-left: 35px;
    border-radius: 20px;
    background-color: white;
}

.kotak7{
    padding-top: 20px;
    padding-left: 22px;
    width: 350px;
    height: 90px;
    margin-top: -165px;
    margin-left: 415px;
    border-radius: 20px;
    background-color: white;
}

.kotak8{
    padding-top: 14px;
    padding-left: 18px;
    width: 70px;
    height: 70px;
    margin-top: 25px;
    margin-bottom: 0px;
    margin-left: 400px;
    border-radius: 20px;
    background-color: white;
}

.teks1, .teks2, .teks3, .teks4, .teks5{
    margin-top: -60px;
    padding-left: 90px;
}

.teks6, .teks7{
    margin-top: -55px;
    padding-left: 250px;
}

.imgkotak4{
    margin-top: 10px;
}
