body {
    font-family: 'Nunito', sans-serif !important
}


h1 {
    font-size: 56px;
    color: #234CAD;
    font-weight: 700;
    line-height: 56px;
}

h2 {
    font-size: 48px;
    color: #234CAD;
    font-weight: 700;
}

h3 {
    font-size: 25px;
    color: #234CAD;
    font-weight: 400;
    line-height: 40px;
}

h4 {
    font-size: 20px;
    color: #234CAD;
    font-weight: 400;
}

p {
    color: #234CAD;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.card1 {
    background-color: #F2F6FF;
    border-radius: 60px;
}

.card1:hover {
    background-color: #FFF;
    border: 3px solid #234CAD !important
}

.card1:hover .list-group-item {
    background: #F2F6FF !important
}

.card2 {
    background-color: #F2F6FF;
    border-radius: 60px;
}

.card2:hover {
    background: #FFF;
    border: 3px solid #234CAD !important
}

.card2:hover .list-group-item {
    background: #F2F6FF !important
}


.card3 {
    background-color: #F2F6FF;
    border-radius: 60px;
}

.card3:hover {
    background: #FFF;
    border: 3px solid #234CAD !important
}

.card3:hover .list-group-item {
    background: #F2F6FF !important
}

.btn-outline-primary {
    border-radius: 37.5px;
    background: #F2F6FF;
    border: 0px;
    color: #234CAD;
    font-size: 25px;
    font-weight: 700;
    width: 274px;
    height: 75px;
    justify-content: center;
}

.btn-outline-primary:hover {
    background: #FFF;
    color: #234CAD;
    border: 3px solid #234CAD !important
}

.btn-outline-primary:active {
    background-color: #234CAD !important;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.card:hover .btn-outline-primary {
    border-radius: 37.5px;
    background: #FFF;
    width: 274px;
    height: 75px;
    justify-content: center;
}